project:
  type: website
  output-dir: "_site"

website:
  title: "Jarrod Zammit"
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - href: about.qmd
        text: "About"
      - href: contact.qmd
        text: "Contact"
        

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true